/* COLLAPSED INLINES */

.inline-group .collapsed {
    display: none;
}

.inline-group .inline_collapse-toggle {
    float: right;
}

a.inline_collapse-toggle {
    color: #5B80B2;
    text-decoration: none;
}
